.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
auth.json
privado
/google_drive_to_sqlite/prueba.db
/google_drive_to_sqlite/authenticated.json
/google_drive_to_sqlite/atlas-y-cat.db
